[submodule "third_party/nvapi"]
	path = third_party/nvapi
	url = https://github.com/NVIDIA/nvapi
[submodule "third_party/adlx"]
	path = third_party/adlx
	url = https://github.com/GPUOpen-LibrariesAndSDKs/ADLX
[submodule "third_party/adl"]
	path = third_party/adl
	url = https://github.com/GPUOpen-LibrariesAndSDKs/display-library
